html {
    box-sizing: border-box;
    font-size: 62.5%;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    font-family: "Inter", sans-serif;
  }

body {
    background: rgb(232, 236, 248);
    background: linear-gradient(
      0deg,
      rgba(232, 236, 248, 1) 0%,
      rgba(232, 236, 248, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
  }

  .padding-section {
    padding: 2rem;
  }