html {
    box-sizing: border-box;
    font-size: 62.5%;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    font-family: "Inter", sans-serif;
  }

body {
    background: rgb(232, 236, 248);
    background: linear-gradient(
      0deg,
      rgba(232, 236, 248, 1) 0%,
      rgba(232, 236, 248, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
  }

  .padding-section {
    padding: 2rem;
  }

  .height100 {
    height: 100%;
  }

  main {
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;
    height: 90vh;
    width: 90%;
  }
  textarea {
    width: 90%;
    display: block;
    margin: 1.5rem auto;
    padding: 3rem 0;
    height: 65%;
    font-size: 1.75rem;
    background-color: unset;
    border: none;
    resize: none;
  }

  button {
    font-size: 1rem;
    border-radius: 3em;
    padding: 1em 0;
    width: 80%;
  }

  footer {
    font-size: 1.50rem;
    text-align: center;
  }
  .icons i:hover {
    color: blueviolet;
  }

    
  .icons i {
    text-shadow: 2px 2px 4px #fff;
    color: #000;
    transition: all 1s;
  }

